/*
TODO add ajax to get image of the day frm nasa 
make that the background to hte header semi transparent background
change clock style
onclick change background 
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}
.save {
  width: 100%;
  border-radius: 25%;
}
.empty-todo {
  background-color: #aaaaaa;
}
.current {
  background-color: #483d8b;
}
textarea.current {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px dashed #ccc;
  color: #ffffff;
}
.future {
  color: #000000;
  background-color: #7fffd4;
}
textarea.future {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000000;
  border: 1px dashed #666666;
  border-radius: 12px;
}
.past {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #696969;
}
p.past {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}
.margin {
  margin-top: 10px;
  margin-bottom: 10px;
}
header {
  background-color: #aaaaaa;
  opacity: 0.75;
}
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #1f1f70 50%, #466666 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}
#calendar {
  opacity: 0.75;
  background-color: #aaaaaa;
}
.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.glow-on-hover {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(7, 7, 48);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* 

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.tn-btn {
  position: relative;
  letter-spacing: 0.25em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  background: transparent;
  outline: none;
  font-size: 28px;
  color: #ececec;
}
.tn-btn::after,
.tn-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  transform: skewX(30deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -2;
}
.tn-btn::before {
  background-color: #1f1f70;
  top: -1rem;
  left: 0rem;
}
.tn-btn::after {
  background-color: #1b647c;
  top: 1rem;
  left: 8rem;
}
.tn-btn:hover::before,
.tn-btn:hover::after {
  top: 0;
  transform: skewx(0deg);
}
.tn-btn:hover::after {
  left: 0rem;
}
.tn-btn:hover::before {
  left: 8.75rem;
}
*/
